.eunit
*.o
*.beam
*.plt
erl_crash.dump
.erlang.cookie
.concrete/DEV_MODE
ebin
log
logs

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
_vendor

# asdf
.tool-versions

*.swp
*.swo
*.iml
rebar3.crashdump
*~
